.upper-img {
  height: 50%;
  width: 50%;
  margin-top: 150px;
  margin-left:auto;
  margin-right:auto;
  display: block;
  animation: changeOpacity 2s linear forwards;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  max-width: 444px;
  .train-header {
    width: 90%;
  }
}



.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin-top: 70px;
  .login__button {
    width: 100%;
    font-size: 0.9375rem;
    border-radius: 0;
    animation: changeOpacity 2s linear forwards;

    &.login__button-orange {
      background: #FF6319;

      &:hover {
        background: #CC4F14;
      }
    }
  }

  .login__title {
    font-size: 2.15rem;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }
  
  .login__info, .login__title, .login__button{
    margin: 5px auto;
  }
}

.button-container {
  width: 100%;
  background-color: #EDEDED;
  position: absolute;
  z-index: -1;
  top: 70vh;
  bottom: -50px;
  @media (min-width: 330px) {
    top: 65vh;
    bottom: -15px;
  }
  @media (min-width: 400px) {
    top: 60vh;
    bottom:0;
  }
  left: 0;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}